@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

.homepagetopdiv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

.homepagetopimage{
    width: 35vw;
    height: auto;
}

.homepagetopleft{
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homepagetoptext{
    font-family: 'Poppins', sans-serif;
    font-size: 100px;
    font-weight: 800;
}

.visionBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* z-index: -1; */
}

.visionDivOne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 10vw;
}

.visionDivTwo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visionCard{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 1s;
    /* z-index: -1; */
}

.visionCard:hover{
    transform: scale(1.1);
}

.visionText{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}